@import 'tailwindcss';

@utility squircle {
  corner-shape: squircle;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-geist), sans-serif;
  }
}

@utility ease-float-spring {
  transition-timing-function: linear(
    0 0%,
    0.007064 1%,
    0.027471 2%,
    0.059973 3%,
    0.103243 4%,
    0.155898 5%,
    0.216526 6%,
    0.283705 7%,
    0.356025 8%,
    0.432103 9%,
    0.510609 10%,
    0.59027 11%,
    0.669892 12%,
    0.748366 13%,
    0.824682 14%,
    0.897929 15%,
    0.967308 16%,
    1.03213 17%,
    1.091819 18%,
    1.145915 19%,
    1.194066 20%,
    1.23603 21%,
    1.271669 22%,
    1.300942 23%,
    1.3239 24%,
    1.340681 25%,
    1.351496 26%,
    1.356625 27%,
    1.356407 28%,
    1.351232 29%,
    1.341531 30%,
    1.327765 31%,
    1.310421 32%,
    1.289999 33%,
    1.267006 34%,
    1.241949 35%,
    1.215327 36%,
    1.187624 37%,
    1.159304 38%,
    1.130809 39%,
    1.102547 40%,
    1.074896 41%,
    1.048199 42%,
    1.022758 43%,
    0.998837 44%,
    0.976662 45%,
    0.956414 46%,
    0.938238 47%,
    0.922236 48%,
    0.908476 49%,
    0.896987 50%,
    0.887766 51%,
    0.880777 52%,
    0.875956 53%,
    0.873214 54%,
    0.87244 55%,
    0.873501 56%,
    0.876251 57%,
    0.880528 58%,
    0.886164 59%,
    0.89298 60%,
    0.900798 61%,
    0.909434 62%,
    0.91871 63%,
    0.92845 64%,
    0.938485 65%,
    0.948653 66%,
    0.958802 67%,
    0.968793 68%,
    0.978498 69%,
    0.987801 70%,
    0.996603 71%,
    1.004815 72%,
    1.012368 73%,
    1.019201 74%,
    1.025274 75%,
    1.030554 76%,
    1.035027 77%,
    1.038688 78%,
    1.041545 79%,
    1.043616 80%,
    1.044928 81%,
    1.045519 82%,
    1.045432 83%,
    1.044717 84%,
    1.04343 85%,
    1.04163 86%,
    1.039379 87%,
    1.036742 88%,
    1.033782 89%,
    1.030565 90%,
    1.027154 91%,
    1.02361 92%,
    1.019993 93%,
    1.016359 94%,
    1.012759 95%,
    1.009241 96%,
    1.005848 97%,
    1.002619 98%,
    0.999586 99%,
    0.996779 100%
  );
}

@theme {
  --font-serif: 'Times New Roman', Times, serif;
}

@layer components {
  .col {
    @apply flex flex-col;
  }
}
